body {
  background: #e7cdcd;
}

header {
  text-align: center;
}

.game1 {
  color: wheat;
  font-family: "Luminari";
  font-size: 2.4em;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 20px;
}

.game2 {
  color: wheat;
  font-family: "Luminari";
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  position: absolute;
  top: 11px;
  left: 200px;
}

.game3 {
  color: wheat;
  font-family: "Luminari";
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  position: absolute;
  top: 11px;
  left: 400px;
}

.container {
  width: 600px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 auto;
}
